body{
    background-color: aqua;


}
header{
    background-color: aqua;

}
h1{
   
    text-shadow: 3px 3px 5px;
    color:#43a52a ;
    text-align: center;

    
}
span{
    color: blueviolet;
}

img{
    padding-left: 27px;
}
.menu-bar ul{
    nav-right: 200px;
    
   list-style-type: none;
   background-color: blueviolet;
   padding: 0px;
   margin: 0px;
   overflow: hidden;
    
    
}
.menu-bar a{
    width: 188px;
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    border-radius: 100PX;
}
.menu-bar a:hover{
    background-color: black;
}
.menu-bar li{
    float: left;
   
}
